@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100vh;
}

body{
    font-size: 1.2rem;
}


/*CSS GRID CONFIG
===============================*/

.game{
    display: none;
}

.conteiner-g{
    display: grid;
    gap: 12px;
    min-height: 100vh;
    grid-template:
    "header-g" 50px 
    "stick" 300px
    "letras" 50px
    "letrasX" 10px
    "buttons" 180px
    "boton1" 100px
    "boton2" 100px
}


.header-g{  
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header-g;
}

.stick{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: stick;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 35px;
    box-shadow: 0 15px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(5px);
}

.addLetters{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    grid-area: letras;
}

.incorrectLetters{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: letrasX ;
}

.buttons{
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

.btn1-g{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: boton1;
}

.btn2-g{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: boton2;
}


/*              CSS
========================================*/

.btn-nGame{
    text-decoration: none;
    color: #0A3871;
    border: none;
    font-size: 18px;
    padding: 25px;
    width: 90%;
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ;
}

.btn-dGame{
    text-decoration: none;
    color: #0A3871;
    border: none;
    width: 90%;
    font-size: 18px;
    padding: 25px;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-top:  1px solid rgba(255, 255, 255, 0.5);
    border-left:  1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ;
    transition: all 0.3s ease-in-out;
    
}

.addLetters span{
    position: relative;
    vertical-align: bottom;
    color: #fff;
    font-size: 1.5em;
    border-bottom: 3px solid #0a3264;
    width: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ;
    border-radius: 25px;
    margin-right: 6px;
    display: inline-block;
}


.stick img{
    width: 220px;
    background-size: cover;
}

.incorrectLetters span{
    color: #fff;
    margin-right: 6px;
    font-size: 1.2em;
    font-weight: 600;
}

.box{
    background: rgba(255, 255, 255, 0.2);
    border-top:  1px solid transparent;
    border-left:  1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ; 
    border-radius: 20px;
}

.lX{
    background: rgba(255, 255, 255, 0.2);
    border-top:  1px solid transparent;
    border-left:  1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1) ; 
    border-radius: 10px;
    text-align: center;
    padding: 20;
    width: 30px;    
}

.buttons button{
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-top:  1px solid transparent;
    border-left:  1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.buttons .btnUsed{
    color: red;
    border: none;
    background: rgba(253, 5, 5, 0.2);
    border-top:  1px solid transparent;
    border-left:  1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.buttons .btnUsedHit{
    color: #21fc5b;
    border: none;
    background: rgba(5, 253, 38, 0.2);
    border-top:  1px solid transparent;
    border-left:  1px solid transparent;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}




/*PSEUDO ELEMNTOS
====================================*/

.btn-nGame:hover{
    transform: translateY(-3px);
    background-color: #fff;
  }

.btn-dGame:hover{
    transform: translateY(-3px);
    background-color: #fff;
  }  

.buttons button:hover{
    transform: translateY(-2px);
  }


  

/*          MEDIA QUERY
=============================================*/

@media (min-width: 600px){
    .conteiner-g{
        grid-template: 
        "header-g header-g" 50px
        "stick stick" 295px
        "letras letras" 50px
        "letrasX letrasX" 30px
        "buttons buttons" 170px
        "boton1 boton2" 100px /
        auto auto;
    }

    .header-g{
        position: absolute;
        top: 10px;
        left: 10px;
        justify-content: flex-start;
    }

    .btn1-g{
        align-items: flex-start;
    }

    .btn-dGame{
        width: 98.2%;
    }

    .buttons{
        width: 70%;
        margin: 0 auto;
    }

    .buttons button{
        font-size: 1.1rem;
    }

}

@media (min-width: 900px){
    .conteiner-g{
        gap: 9px;
        width: 970px;
        margin: 0 auto;
        grid-template:
        "header-g header-g header-g" 50px
        "stick stick stick" 240px
        "letras letras letras" 50px
        "letrasX letrasX letrasX" 50px
        "buttons buttons buttons" 150px
        "boton1 boton2" 100px /
        auto auto;
    }

    .header-g{
        top: 10px;
        left: 150px;
    }

    .buttons{
        width: 50%;
        margin: 0 auto;
    }

    .buttons button{
        padding: 13px;
        font-size: 1.1rem;
    }

    .buttons .btnUsed{
        padding: 13px;
    }

    .buttons .btnUsedHit{
        padding: 13px;
    }
}









